@import 'nib'
$font-size = 12px

.fontawesome-icons {
	padding-left: 0px
	padding-bottom: 1px
	margin-bottom: 20px
	list-style: none outside none
	overflow: hidden
}

.fontawesome-icons li {
	float: left
	padding: 0px
	margin: 0px -1px -1px 0px
	font-size: $font-size
	text-align: center
	cursor: pointer
}

.fontawesome-icons li i {
	width: $font-size*2
	height: $font-size*2
	line-height: 2
	padding: $font-size
	border: 1px solid #DDD
}

.fontawesome-icons li i:hover {
	background-color: rgba(86, 61, 124, 0.1);
}